body {
    height:10000px;
    p {
        margin-bottom:10px;
        padding:0 5px;
        width:300px;
        line-height:30px;
        border:1px solid red;
    }
}
// float
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix {
    @include clearfix;
}
// toggle content
.hide {
    display: none;
}
.show {
    display: block;
}
.invisible {
    visibility: hidden;
}