//
// @css reset from KISSY CSS Reset
// --------------------------------------------------

// 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁
html {
    overflow-y: scroll;
}

// 清除内外边距
// ------------------------------------------------
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, // structural elements 结构元素
dl, dt, dd, ol, ul, li,                          // list elements 列表元素
pre,                                             // text formatting elements 文本格式元素
fieldset,legend, button, input, textarea,        // form elements 表单元素
menu,
th, td {                                         // table elements 表格元素
    margin: 0;
    padding: 0;
}

//
// 字体字号设置
// --------------------------------------------

// 设置默认字体
body, button, input, select, textarea {
    font: 12px/1"Microsoft Yahei", "SimSun", Arial, Helvetica, sans-serif;
}
// 将斜体扶正
address, cite, dfn, em, var {
    font-style: normal;
}
// 统一等宽字体
code, kbd, pre, samp, tt {
    font-family: "Courier New", Courier, monospace;
}
// 小于 12px 的中文很难阅读，让 small 正常化
small {
    font-size: 12px;
}

// 重置列表元素
ul, ol {
    list-style: none;
}

// 重置文本格式元素
a {
    text-decoration: none;
    &:hover {
        text-decoration:underline;
    }
}

abbr[title], acronym[title] {
    /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after {
    content: '';
}

// 重置表单元素
legend {
    color: #000; // for ie6
}

// img 搭车：让链接里的 img 无边框
fieldset, img {
    border: none; 
}

// 注：optgroup 无法扶正
button, input, select, textarea {
    font-size: 100%; // 使得表单元素在 ie 下能继承字体大小
}

// 重置表格元素
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// 重置 hr
hr {
    border: none;
    height: 1px;
}

// webkit对按钮的默认样式
input[type="submit"], input[type="reset"], input[type="button"], button {
    -webkit-appearance: none;
}